<article class="mb-4">
  <h3>
    <a href="{% url 'blog:post_detail' id=post.id %}">
      {{ post.title }}
    </a>
  </h3>
  
  <p class="text-muted">
    {{ post.pub_date|date:"d E Y" }} | 
    {% if post.location and post.location.is_published %}
      {{ post.location.name }}
    {% else %}
      Планета Земля
    {% endif %}
  </p>
  
  <p class="mb-0">
    <small>
      От автора @{{ post.author.username }} в категории 
      {% if post.category and post.category.slug %}
        <a href="{% url 'blog:category_posts' category_slug=post.category.slug %}">
          {{ post.category.title }}
        </a>
      {% else %}
        {{ post.category.title }}
      {% endif %}
    </small>
  </p>
</article>